.product {
  position: relative;
  margin: 0.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 1rem);
}

.product section {
  width: clamp(80rem, 80%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.product img {
  width: 100%;
}

.product .img {
  border-radius: 5px;
  box-shadow: 0 0 3px 1px var(--color-brand--2);
}

.product h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product h2 em {
  color: var(--color-brand--2);
  text-shadow: 0 1px 2px var(--color-brand--1);
}

.product .product-text {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}

.product footer {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 42em) {
  .product {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .product section {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 5rem;
    justify-items: center;
  }
  .product h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .product section img {
    width: 65%;
  }
  .product footer {
    width: 183px;
  }
}
